---
import  Layout from '../../layouts/Layout.astro';
import { Icon } from 'astro-icon/components'
---

<Layout title="Clients" selector="clients/index">
    <div>
       <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
       <span >Atras</span> 
        <Icon class="icon w-5" name="clients" />
       </button>
    </div>
</Layout>