---
import SiderBarItem from "./SiderBarItem.astro";
import type { IPages } from "../common/pages.interfaces";

const pages:IPages []  = [
  {
    icon:   "clients", 
    name:  "Clientes", 
    url:    "/clients" 
  },
 /* {
    icon:"rocket", 
    name:"Proyectos",
    url:"/projects"
  },
  {
    icon:"inbox", 
    name:"Cuentas",
    url:"/accounts"
  },
  {
    icon:"banknote", 
    name:"Cobros",
    url:"/payments"
  },
  {
    icon:"wallet", 
    name:"Cortes",
    url:"/reports"
  },*/
];

const { display_name, photo_url,selector } = Astro.props;
pages.map((page:any) => page.url === `/${selector}` ? page.active = true : page.active = false)
---
<div class="container w-20 md:w-80 md:max-w-80">
    <ul class="app_name flex items-center justify-center content-center h-1/10">
       <li>
            <a class="flex items-center align-content"  href="/">
              <img class="w-8 h-8 mr-2" src="../hot-icon.svg" alt="logo">
                <h1>Flama </h1> 
            </a>
        </li>
    </ul>
    <ul class="body h-4/5">
        {pages.map((page) => (
            <SiderBarItem data={page} ></SiderBarItem>
          ))}
    </ul> 
    <ul class="footer flex items-center  align-content h-16 ">
        <li>
          <a class="flex items-center align-content " href="/profile">
            {
              photo_url === undefined ?
              <div class="relative inline-flex items-center justify-center w-10 h-10 overflow-hidden bg-gray-100 rounded-full dark:bg-gray-600">
                <span class="font-medium text-gray-600 dark:text-gray-300">RP</span>
              </div>
              :
              <img class="relative inline-flex items-center justify-center w-10 h-10 overflow-hidden bg-gray-100 rounded-full dark:bg-gray-600" src={photo_url} alt="profile" />
            }
            <h2 class="hidden md:block">{display_name}</h2>
          </a>
        </li>
        
    </ul>
    <ul>
      <li>
        <form action="/api/auth/signout">
          <button type="submit">Sign out</button>
        </form>
      </li>
    </ul>
</div>

<style>
    .container{
        border-right: solid 2px #f5f5f5;
    }
    .container > .app_name{
        padding: 15px 10px;
        color: #fff;
    }
    .body{
      padding: 15px 0px;
      color:#fff
    }
    .footer {
        background-color: #a4a4a4;
        border-radius: 30px 0 0 30px;
        padding-left: 10px;
    }
    .footer h2{
      font-weight: 700;
      padding-left: 12px;
    }
    .footer:hover{
      background: #e5e5e5;
    }
</style>