---

---

<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ronald Pe#aloza</title>
</head>
<body class=" text-white bg-neutral-900">
  <slot />
</body>
</html>